__pycache__/
*.pyc
.venv/
venv/
env/
.streamlit/
data/raw/*
!data/raw/.gitkeep
# Artifacts (wajib di-push untuk deployment Streamlit Cloud)
# artifacts/*
# !artifacts/.gitkeep
.DS_Store
*.egg-info/
notes/